### Name: Ambreen Abdul Raheem
### Teacher: Sir Sajid Majeed
### Subject: Machine Learning
### Program: Data Science with Artificial Intelligence
### Github:https://github.com/ambreenraheem?tab=overview&from=2024-09-01&to=2024-09-30
### Email: ambreen.a.raheem@outlook.com
### LinkedIn: https://www.linkedin.com/in/ambreen-abdul-raheem-122509300/

# 19-1-2025 and 25-1-2025

### One Hot Encoding
One-Hot Encoding is an essential preprocessing step in machine learning workflows, enabling algorithms to effectively utilize categorical data. By converting categories into a binary format, it enhances model interpretability and performance, making it a fundamental technique for data scientists and machine learning practitioners.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("cars.csv")
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [36]:
df.shape

(8128, 5)

In [3]:
df.columns

Index(['brand', 'km_driven', 'fuel', 'owner', 'selling_price'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

In [5]:
df['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [6]:
df['brand'].nunique()

32

In [7]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [8]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [9]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [10]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [11]:
df['km_driven'].value_counts()

km_driven
120000    536
70000     456
80000     448
60000     425
50000     391
         ...
55425       1
21871       1
22700       1
35700       1
60175       1
Name: count, Length: 921, dtype: int64

In [12]:
df['selling_price'].value_counts()

selling_price
300000     227
600000     213
350000     209
550000     204
450000     195
          ...
1516000      1
2575000      1
212000       1
2051000      1
313000       1
Name: count, Length: 677, dtype: int64

In [13]:
df['km_driven'].nunique()

921

In [14]:
df['km_driven'].unique()

array([ 145500,  120000,  140000,  127000,   45000,  175000,    5000,
         90000,  169000,   68000,  100000,   80000,   40000,   70000,
         53000,   50000,   72000,   35000,   28000,   25000,    2388,
         16200,   10000,   15000,   42000,   60000,   76000,   28900,
         86300,   23300,   32600,   10300,   77000,   99000,   27800,
         49800,  151000,   54700,   64000,   63000,  127700,   33900,
         59000,  110000,  147000,   30000,  135000,    9850,   78000,
        170000,   49000,   32000,   38000,   44000,   12000,   55500,
         61500,  150000,   37800,  114000,   48000,   69000,   13000,
         76139,   65000,    1303,   31800,   20000,   17000,   21000,
         37000,   29500,   27000,    7500,   19000,   41000,   39000,
         22000,   47000,   72200,   49900,    9000,   11000,   95000,
         18000,   46100,   16000,    9654,   24300,   42163,    8000,
         71000,    9500,   36600,   14000,  120600,   86000,    7800,
         31377,   75000,   93000,  125000,   13500,  162500,   92500,
        158000,    2000,  181000,  193000,  122358,   95200,   33033,
         63063,  207890,    7976,   16500,   99361,   33000,   80100,
        160000,   26000,   29000,   58000,   36000,  185000,  162000,
         67000,   52000,   68089,   58343,   38817,   56494,   79328,
          5621,   25538,   69779,   56290,    8500,    7032,  106000,
        240000,  214000,    1000,  265000,  134000,    2136,  250000,
        130000,   99500,  119000,   44665,  123000,   34000,  146000,
         85000,  201850,   46000,  190000,   43000,   14200,   19100,
         54000,  101500,   97500,   55735,    1500,  181491,   53319,
         40906,   31711,   43755,   66693,   59549,   94385,   73730,
        221889,  116104,  150546,  148120,  142000,  126000,   24000,
        101000,  168000,  165000,   98500,   98000,   77800,   51492,
        136000,   91000,  167000,  180000,    6000,   55113,   91500,
        132478,   51000,  105000,  137500,   88000,  156060,  107000,
         57000,  300000,  200000,   18945,  144000,  107825,    1620,
        141000,  108000,   55000,   37944,   90400,   96000,  193623,
         63186,  219000,   23000,   94000,  140500,  143000,  195000,
        360003,    8079,  114368,   79990,   81632,  155201,  101504,
         90165,   86017,   85036,  160254,  125531,  206000,   49700,
         74000,    6550,   56000,   41779,   31000,   13534,    7000,
         28156,   63309,  155000,   11500,    3000,  157000,   26300,
         89100,  104000,  210000,  216000,   84000,  161000,   72113,
        113000,   96443,   51500,  104500,   49102,   81000,  227000,
        117000,    8576,   19723,   21446,   52289,   52236,   54470,
         25471,   33928,   59736,   54290,    2118,   61379,   58544,
         74381,   63982,   56429,   19500,   56832,   30528,   65285,
         20102,   52380,   74250,   57247,  178000,   42323,   42462,
         54723,   42545,   41232,   20375,   43978,   40200,   27233,
         28832,  103000,  142500,  115000,  118000,   35500,   17500,
         92000,    4500,   83000,    6750,   18500,   50478,    9200,
          2300,    4295,    5229,    4701,    6757,   28182,   11533,
         11688,   57728,   23712,   70670,   43381,   79011,   58500,
         43500,   12700,   49455,   46815,  334000,  100875,  128000,
        144030,  176000,   89000,   97000,   12800,   65100,   15200,
         82000,  116500,  145000,   73000,  113226,  160500,  132000,
        217000,  139000,    3500,   62000, 1500000,  120005,   16830,
         93468,   16589,   53201,   25272,   53619,    6001,  202000,
         71717,   84321,  177000,  205000,   41800,   88700,  188000,
        225000,    5500,    4875,    2700,   58511,   26235,   26766,
          1600,   24522,   13663,   58945,  375000,  156975,   27620,
        143200,  137000,  138000,  189000,  156000,   10800,   67500,
        255000,   71850,  112000,  159000,   76131,   51777,   64788,
         46951,   74537,   23500,   68600,   13887,   66000,   24400,
         27500,   67840,  149032,  380000,   84050,  112880,   28100,
         61915,  184000,    6200,   16700,    7967,    9656,   68609,
         33360,   14317,   87237,   62960,   26634,  163720,   67998,
         20706,  100581,   67303,   79139,   84784,  130376,  148000,
         33500,   22053,   78432,  270000,    7200,  117500,   78500,
        115717,    4000,   26432,   46702,   46706,   53523,   56365,
         49563,   56432,   52365,   53512,   53563,   46533,   59635,
         58632,  123219,   65300,   39395,  230000,   32500,   64800,
        248000,   66444,  218463,  153000,   87185,    3564,   48756,
         80322,  173000,  275000,    6500,  220000,  108957,   22200,
        260000,   42108,   79000,   17100,   43001,  100600,   92385,
        116000,   72500,   82500,   50600,  121000,  101903,   85568,
          3100,  186000,   59300,   89322,   48300,   23511,   22512,
         62900,   52442,   34156,   34152,   62841,   38600,   27654,
         48698,   32995,   90150,   85700,   25339,   68240,   92651,
         88754,   23700,   53287,   69500,   28050,   22947,    7672,
         36659,   44500,    9900,  124316,    6544,   49600,  198000,
        103994,   35008,   31100,   42312,   54891,   18890,   75010,
          4337,   14495,   83585,   48406,   56239,   33243,   15858,
         87847,    9558,   87000,  112072,   52269,   15780, 2360457,
        108800,   12500,  577414,   68300,  121941,  152186,   82246,
         89580,    2789,   35278,    2860,   78562,   36088,  129000,
        500000,  133000,   64500,   24500,   45500,   71500,   93500,
         60300,   44391,   56315,   15151,  114321,   37333,  330000,
        291000,   21500,  197000,   40300,   30030,   29029,   72072,
         82082,   80600,   58609,   33003,  165500,   47990,    5800,
         68700,  102996,   96500,   52412,   85472,   87452,   66530,
         32331,  172000,   23456,  136500,  111000,   42500,   47200,
        246000,    5200,   10500,   93331,  109000,    5400,  102000,
         60898,   29700,    7600,   29340,   80800,   24265,   56900,
         88200,   40800,    8588,  305000,  158500,  212000,  101200,
        179150,   84487,  264000,   51146,  298000,  149000,  291977,
         36800,   52200,  107500,  248200,    7720,   57882,  242000,
         55380,   18816,   33019,   47747,   45900,   68697,  147279,
         24700,   43526,   55885,   16034,  156040,   93415,  122000,
         68519,   22966,    2350,   59872,   91182,   59500,   75500,
        152500,   69123,   77524,   40523,   23600,  218000,  290000,
         24177,  121779,   15381,   74800,  109322,  475000,   61000,
         80500,   65755,    2600,   15500,   50700,  440000,  152000,
        200400,    7300,    9750,  157138,  285000,  127991,   13120,
         87500,   62200,   87540,  231438,  239451,  154000,  426000,
        182000,  215000,   77300,   61260,   17601,    4773,   57900,
          8600,   78010,   83844,   23999,   91400,  178500,   66953,
        166000,  131000,  100750,   48676,   79500,  200185,   49025,
         76460,   47370,   45217,  163000,  222300,   44600,   28080,
         28800,   21900,    7673,   96272,   22500,    7400,  370000,
        150360,   42130,  147500,   56194,   54188,   54043,   66657,
         35582,   54327,    7949,   59734,   49185,   56389,   58245,
         36422,   42535,   40736,   56246,   55403,  105358,   49200,
         81500,    3177,   39414,   30078,   44588,   49907,   67082,
        112879,   10200,    1300,  175802,  192000,   73840,  320000,
         24857,   26442,   50800,   40142,    9400,   12584,    4300,
         14548,   44772,   48500,   28782,   28451,   36500,   44885,
        131111,   58400,   23400,  158107,    3010,   77088,  136511,
         36710,   28180,   44077,   55768,  123278,   26500,   18484,
          2560,  103655,   56975,   74770,  187000,   73257,   26320,
         38426,  116700,  176062,   77500,   39500,   55896,   30400,
        164000,  271000,   75262,   91863,   47552,   14700,   19700,
        145241,   95500,   53473,   75958,   31596,   85710,  129627,
         55130,   22522,   51856,   29434,   34500,    6825,  112011,
         53534,  248119,   24019,   19600,  376412,  183000,  108916,
         89500,   59865,   68140,   53190,   70100,   47725,   70195,
         77395,   74321,   80235,   77150,   61100,   82300,   82050,
         74500,   29899,   59235,  201000,   77215,   48228,   58559,
         72179,   50856,   18300,   59292,   21147,   61173,   77321,
         91567,   33400,   92686,   67600,   49500,  112048,   30646,
         14681,   43011,  104300,   73500,  280000,   35700,   22700,
         21871,   55425,   37659,   37500,   19800,   45629,   68850,
         45775,   68203,   97343,   82507,   59400,  125876,   56800,
         65204,    2286,   15732,   49523,   36521,   64481,   49060,
         37161,   60175,   49957,   43235,   50699,       1,   50074,
         30154,   26263,   84925,   46357,   46737,  110048,  186388,
         20171,   37151,   58161,   50171,   55161,    9599,   16151,
         28161,   80868,  194000,  191000])

# 1. One Hot Encoding using pandas

In [15]:
# solving Multicolinearity problem (n-1)
pd.get_dummies(df, columns=['fuel','owner'],drop_first=True,dtype=int)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=0)

In [17]:
X_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [20]:
X=df.drop(columns=['selling_price'])
X.head()

     brand  km_driven    fuel         owner
0   Maruti     145500  Diesel   First Owner
1    Skoda     120000  Diesel  Second Owner
2    Honda     140000  Petrol   Third Owner
3  Hyundai     127000  Diesel   First Owner
4   Maruti     120000  Petrol   First Owner

In [22]:
y=df['selling_price']
y.head()

0    450000
1    370000
2    158000
3    225000
4    130000
Name: selling_price, dtype: int64

In [23]:
X_train.shape

(6502, 4)

In [24]:
y_train.shape

(6502,)

In [25]:
X_test.shape

(1626, 4)

In [26]:
y_test.shape

(1626,)

In [27]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)
ohe

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>, sparse_output=False)

In [28]:
X_train_new=ohe.fit_transform(X_train[['fuel','owner']])

In [29]:
X_test_new=ohe.transform(X_test[["fuel","owner"]])

In [30]:
X_train_new.shape

(6502, 7)

In [31]:
X_test_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 0, 0]], shape=(1626, 7), dtype=int32)

In [35]:
X_train[['brand','km_driven']].values

array([['Hyundai', 60000],
       ['Tata', 150000],
       ['Hyundai', 110000],
       ...,
       ['Hyundai', 90000],
       ['Volkswagen', 90000],
       ['Hyundai', 110000]], shape=(6502, 2), dtype=object)